name: MyWorkflow
on:
  push:
    branches : ["master"]
env:
  name: Hardeep Kaur
  
jobs:

  job1_Run-demo-file:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2

      - name: Run a python file
        run: python demo.py
        working-directory: ./scripts

  job2_Run-demo2-file:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2

      - name: Run a python file
        run: python demo2.py
        working-directory: ./user/new

  job3_env-variables:
    runs-on: ubuntu-latest

    place: Punjab
    steps:
      - uses: actions/checkout@v3

      -name: details of employee
        run: echo "$name is belong to $place "


